<html>

<head>
    <title>ישיבת ההסדר קרני שומרון</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="../css/Stylesheet.css">
    </link>
    <script src="../js/javascript.js"></script>
    <link rel="icon" type="image/x-icon" href="../images/karnash-logo.ico" />


</head>

<body dir="rtl">
    <%- include ('./navbar.ejs') %>
        <main>
            
            <div class="rightcolumn">
                <div class="header" id="top-image">
                    <div class="titles">לוח השיעורים של בית המדרש
                    </div>
                </div>
                <div class="message">
                    <h1>דף זה יחזיק לוח שיעורים</h1>
                    <p>כי מי לא אוהב להיות לו"זר (בקטע טוב כמובן)</p>
                    <h2><a href="/">חזרה לדף הבית</a></h2>
                </div>
            </div>
        </main>
</body>

</html>