<html>

<head>
    <title>ישיבת ההסדר קרני שומרון</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="../css/Stylesheet.css">
    </link>
    <script src="../js/javascript.js"></script>
    <link rel="icon" type="image/x-icon" href="../images/karnash-logo.ico"/>



</head>

<body dir="rtl">
    <%- include ('./navbar.ejs') %>

    <main>
        <div class="page-header" id="top-image">
            <div class="page-header holder">
                מאגר השיעורים<br />
            </div>
        </div>
        <div class="tags"> </div>
        <div class="pageDescription">
            שלום וברכה, דף זה יחזיק סדרות שיעורים מבית המדרש, ובשלב הנוכחי תהיה אפשרות לעבור ישירות לדף הסדרה ביוטיוב.
            <br /> מתוכנן לאפשר לגשת מכאן לרשימת השיעורים מבלי להתחבר ליוטיוב, על מנת לחסוך את הכניסה לאתר
        </div>
        <div class="collection">
            <div class="grid"></div>
            <div class="collection card" id="collection-card">
                <div class="title" data-title>
                    <div class="skeleton skeleton-text"></div>
                </div>
                <div class="header">
                    <a href="" target="_blank" videoLink>
                        <img src="" class="header-img skeleton" videoThumbnail>
                    </a>
                </div>
                <div class="expand" id="expand" onclick="expandCard(this)">
                    <ion-icon name="chevron-down"></ion-icon>
                </div>
                <div class="speaker">
                    <a href="" target="_blank" speakerLink> לעוד שיעורים של
                        <div class="lowerName" style="font-weight: bold;" speakerName>
                            <div class="skeleton skeleton-text" id="speaker-name"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <script>
        const grid = document.querySelector('.grid');
        const cardTemplate = document.getElementById('collection-card')
        fetch("/playlists")
            .then(res => res.json())
            .then(playlists => {
                grid.innerHTML = ''
                for (let i = 0; i < playlists.length; i++) {
                    const playlist = playlists[i];
                    const div = cardTemplate.cloneNode(true);
                    const regexString = /[|,-]+/
                    const textSet = playlist.playlistTitle.split(regexString);
                    div.id = `${div.id}-${i}`;
                    div.children[2].className = `expand num${i}`;
                    div.querySelector('[videoLink]').href = `https://www.youtube.com/playlist?list=${playlist.playlistID}`;
                    div.querySelector('[speakerLink]').href = `/${playlist.speakerName}`;
                    div.querySelector('[speakerName]').textContent = playlist.speakerName;
                    div.querySelector('[speakerName]').className = 'title';
                    div.querySelector('[data-title]').textContent = textSet[0];
                    div.querySelector('[videoThumbnail]').src = playlist.playlistImageLink;
                    //   div.querySelector('[speakerThumbnail]').src = playlist.speakerImgUrl;
                    grid.append(div)
                }
                cardTemplate.innerText = '';
                cardTemplate.className = ''
            })
        function expandCard(obj) {
            obj.parentElement.classList.toggle("active");
        }
        const card = document.querySelector(".card");
        const cardExpand = document.querySelector(".expand");
        cardExpand.onclick = () => {
            card.classList.toggle("active");
        };
    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>