<manager>
    <div class="header">
        <!-- כאן אני רוצה שיהיה רשום את שם המשתמש של אותו מנהל. שוב, לגשת לעמוד הזה יהיה למנהלים בלבד, למשתמשים פשוטים תהיה אפשרות רק להעלות קבצים מכאן.-->
    </div>
    <div class="body"></div>
    <div class="footer"></div>
</manager>