@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');

:root {

    font-size: 16px;
    font-family: 'Heebo';
    --text-primary: black;
    --text-secondary: rgb(255, 255, 255);
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 200ms;
    --card-height: 350px;
    --card-width: 250px;
    --user-width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;

}

body::-webkit-scrollbar-track {
    background: #0000ff;
}

body::-webkit-scrollbar-thumb {
    background: #3ec450;
}

main {
    margin-right: 5rem;
}

.message {
    box-shadow: 0 2px 10px rgba(0, 84, 186, 0.5);
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    vertical-align: middle;
    margin: 30px;
    padding: 2rem;
    color: var(--text-color);

}

.message a {
    color: #000000;
    text-decoration: none;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    z-index: 1;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;

}

.nav-item {
    width: 100%;

}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    color: white;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: white;

}

.link-text {
    display: none;
    margin-right: 1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: #3ec450;
}

.fa-secondary {
    color: #4476ff;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    margin-bottom: 1rem;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 2vw;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

.header {
    padding: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titles {
    color: rgb(52, 187, 93);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px blue;
    padding: 3rem;
}

.rightcolumn {
    float: right;
    margin-right: 1rem;
    width: 75%;
}

.leftcolumn {
    float: left;
    width: 25%;


}
:root {
    --card-width: 240px;
    --card-height: 270px;
    --collapsed-card-height: 180px;
}

a {
    text-decoration: none;
    color: black;
}

/*------------Page Title------------*/

.page-header {
    color: rgb(52, 187, 93);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 1px 3px blue;
    padding: 1rem;
}

/*------------Tags------------*/


/*------------Collection------------*/
.collection {
    padding: 1rem;
}

/*------------Grid------------*/
.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 0.1fr));
    padding: 1rem;
}

/*------------Card Design------------*/

/*--Card Shape--*/
.collection .card {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;

    height: var(--collapsed-card-height);
    width: var(--card-width);

    padding: 1rem;
    margin-top: 10px;
    border-radius: 16px;

    background: #ffffff;
    box-shadow: 0px 0px 8px hsl(0, 0%, 95%);
    border-bottom: 2px solid hsl(0, 0%, 51%);
    transition: height ease-in-out 0.5s, box-shadow ease-out 0.5s, border-bottom ease-in-out 0.5s;
}

/*--Thumbnail Design--*/
.header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.header-img {
    width: 200px;
    height: 110px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: -1rem;
    flex-shrink: 1rem;
}

/*------Expand Button------*/
.expand ion-icon {
    font-size: 20px;
    color: rgb(0, 0, 255);
    transition: transform ease-in-out 0.5s;
}

.expand {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background: rgb(9, 197, 9);
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/*------Expand Settings------*/
.card.active .expand ion-icon {
    transform: rotate(-180deg);
}

.card.active {
    height: var(--card-height);
    box-shadow: 0px 0px 5px hsl(0, 0%, 80%);
    border-bottom: 0px solid hsl(0, 0%, 75%);
}

/*--Speaker Design--*/
.speaker {
    display: grid;
    width: 80%
}

.speaker-img {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 1rem 0;
}

.speaker .skeleton-text {
    display: block;
    width: 50%;
    margin: 2rem 4rem;
}

/*------------Loading Skeleton------------*/

.skeleton {
    opacity: 1;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
    width: 100%;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .2rem;
}

.skeleton-text:last-child {
    margin-bottom: 0;
    width: 80%;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

/* 
.card-list.content .card {
    background: #e6f0e6;
}

.card-list.content .half-circle {
    stroke: #1134c0;
}

.card-list {
    display: flex;
    overflow: scroll;

}

.card-list::-webkit-scrollbar {
    width: 0.25rem;

}

.card-list::-webkit-scrollbar-track {
    visibility: hidden;
}

.card-list::-webkit-scrollbar-thumb {
    visibility: hidden;
}

.card-list .card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: var(--card-height);
    width: var(--card-width);
    padding: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 16px;
    background: #ffffff;
    box-shadow: .2rem 0 2rem rgb(200, 200, 200);
    transition: .2s;
}

.card-list .card:hover {
    transform: translateY(-1rem);
}

.card-list .card:hover~.card {
    transform: translateX(-10px);
}

.video-title {
    word-wrap: break-word;
}

.thumbnail-image {
    width: 200px;
    height: 110px;
    border-radius: 10px;
    object-fit: cover;
}

.thumbnail-image:hover {
    box-shadow: 0 0 2px 1px rgba(0, 84, 186, 0.5);
}

.sikum-link {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.card {
    padding: 20px;
    margin-top: 10px;
}

.card-speaker {
    position: absolute;
    display: grid;
    bottom: 0px;
    grid-template-columns: 80px 1fr;
    align-items: center;
    margin: 3rem 0 10;
}

.speaker-avatar img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: grayscale(100%);
    margin: 10px 10px;
}

.half-circle {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 60px;
    fill: none;
    stroke: #11c029;
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}

.speaker-name-prefix {
    font-weight: bold;
    color: #102148;
}

.video-topic {
    font-style: italic;
    font-weight: bold;

}

----------Video Collection---------- */

/*----------Members Only Area----------*/
.membersonly {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.membersonly .button {
    font-weight: bold;
    align-items: center;
    background-color: #0276FF;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    line-height: 1.15;
    margin: 1px;
    padding: 10px 21px;
}

.membersonly .button:active {
    background-color: #006AE8;
}

.membersonly .button:hover {
    background-color: #1C84FF;
}

/* 
.membersonly .button {
    flex-direction: column;
    height: var(--card-height);
    width: var(--user-width);
    margin: 2px;
    border-radius: 8px;
    box-shadow: 0 0 4px #000000;
    background-color: #55c764;
    text-size-adjust: 80%;
    text-align: center;
    text-anchor: middle;
    font-weight: bold;
} */


/*----------Social Area----------*/
.social {
    border-color: #000000;
    border-width: 2px 2px 0;
    text-align: center;
    margin-top: 20px;
}

/*---------creadit area-------*/
.credit {
    height: 100px;
    text-align: center;
    padding: 10px;
}

.fa {
    position: relative;
    font-size: 25px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 2px 1px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: #3B5998;
}

.fa-whatsapp {
    color: #11c029;
}

.fa-phone {
    color: #000000;
}

.fa-youtube {
    color: #bb0000;
}

.fa-file {
    font-size: 18px;
}

@media only screen and (max-width:760px) {

    .rightcolumn,
    .leftcolumn {
        width: 100%;
    }

    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;

    }

    svg {
        width: 6vw;
    }

    .logo {
        display: none;

    }

    .navbar-nav {
        flex-direction: row;
    }

    main {
        margin: 0;
    }
}

@media only screen and (min-width:760px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    svg {
        width: 2vw;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }

    .nav-link {
        justify-content: right;
    }

    article {
        width: 250px;
    }

    .card-list {
        padding: 0;
    }

}