@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');

:root {

    font-size: 16px;
    font-family: 'Heebo';
    --text-primary: black;
    --text-secondary: rgb(255, 255, 255);
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 200ms;
    --card-height: 350px;
    --card-width: 250px;
    --user-width: 100%;
}

* {
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;

}

body::-webkit-scrollbar-track {
    background: #0000ff;
    box-shadow: inset 3px 0px 4px rgb(5, 76, 85);
    border-radius: 16px;
}

body::-webkit-scrollbar-thumb {
    background: #3ec450;
       border-radius: 16px;
}

main {
    margin-right: 5rem;
}

.message {
    box-shadow: 0 2px 10px rgba(0, 84, 186, 0.5);
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    vertical-align: middle;
    margin: 30px;
    padding: 2rem;
    color: var(--text-color);

}

.message a {
    color: #000000;
    text-decoration: none;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    z-index: 1;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;

}

.nav-item {
    width: 100%;

}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    color: white;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: white;
}

.link-text {
    display: none;
    margin-right: 1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: #3ec450;
}

.fa-secondary {
    color: #4476ff;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    margin-bottom: 1rem;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 2vw;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

.header {
    padding: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.titles {
    color: rgb(52, 187, 93);
    font-size: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    text-shadow: 2px 2px blue;
    padding: 3rem;
}

.rightcolumn {
    float: right;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 75%;
}

.leftcolumn {
    float: left;
    width: 25%;


}

:root {
    --card-width: 240px;
    --card-height: 270px;
    --collapsed-card-height: 180px;
}

a {
    text-decoration: none;
    color: black;
}

/*------------Page Title------------*/

.page-header {
    color: rgb(52, 187, 93);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 1px 3px blue;
    padding: 1rem;
}

/*------------Tags------------*/

/*------------Search Results------------*/
.search-bar {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem;
    margin-bottom: 3rem;
    margin-top: 0;
}

.autocomplete-input {

    width: calc(100%-50px);
    padding: 20px 15px;
    border: none;
    border-radius: 16px;
    outline: none;
    box-shadow: 1px 5px 3px rgb(190, 207, 207);
    font-family: heebo;
    font-size: large;
}

.results {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
}

.search-result .result-content {
    color: #0000ff;
    padding: 10px;
    width: calc(100%-30px);
    font-weight: bold;
    cursor: pointer;
}

.results::-webkit-scrollbar {
    width: .75rem;
}

.results::-webkit-scrollbar-track {
    background: rgb(40, 196, 92);
    box-shadow: inset 5px 0px 10px rgb(5, 76, 85);
    border-radius: 16px;

}

.results::-webkit-scrollbar-thumb {
    background: #2b2bd6;
    border-radius: 16px;
}

.hide {
    display: none;
}

/*------------Texts------------*/
.pageDescription {
    margin: 1rem;
}

.pageDescription::first-line {
    font-weight: bold;
}

/*------------Collection------------*/
.collection {
    padding: 1rem;
}

/*------------Grid------------*/
.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 0.1fr));
    padding: 1rem;
}

.grid-latest {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 0.1fr));
    padding: 1rem;
}

.grid-most {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 0.1fr));
    padding: 1rem;
}

/*------------Card Design------------*/

/*--Card Shape--*/
.collection .card {

    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;

    height: var(--collapsed-card-height);
    width: var(--card-width);

    padding: 1rem;
    margin-top: 10px;
    border-radius: 16px;


    background: #ffffff;
    box-shadow: 0px 0px 8px hsl(0, 0%, 95%);
    border-bottom: 2px solid hsl(0, 0%, 51%);
    transition: height ease-in-out 0.5s, box-shadow ease-out 0.5s, border-bottom ease-in-out 0.5s;
}

/*--Thumbnail Design--*/
.header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.header-img {
    width: 200px;
    height: 110px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: -1rem;
    flex-shrink: 1rem;
}

/*------Expand Button------*/
.expand ion-icon {
    font-size: 20px;
    color: rgb(0, 0, 255);
    transition: transform ease-in-out 0.5s;
}

.expand {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background: rgb(9, 197, 9);
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/*------Expand Settings------*/
.card.active .expand ion-icon {
    transform: rotate(-180deg);
}

.card.active {
    height: var(--card-height);
    box-shadow: 0px 0px 5px hsl(0, 0%, 80%);
    border-bottom: 0px solid hsl(0, 0%, 75%);
}

/*--Speaker Design--*/
.speaker {
    display: grid;
    width: 80%
}

.speaker-img {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 1rem 0;
}

.speaker .skeleton-text {
    display: block;
    width: 50%;
    margin: 2rem 4rem;
}

/*------------Loading Skeleton------------*/

.skeleton {
    opacity: 1;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
    width: 100%;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .2rem;
}

.skeleton-text:last-child {
    margin-bottom: 0;
    width: 80%;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

/*----------Members Only Area----------*/
.membersonly {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.membersonly .button {
    font-weight: bold;
    align-items: center;
    background-color: #0276FF;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    line-height: 1.15;
    margin: 1px;
    padding: 10px 21px;
    cursor: not-allowed;
}

.membersonly .button:active {
    background-color: #006AE8;
}

.membersonly .button:hover {
    background-color: #1C84FF;
}



/*----------Social Area----------*/
.social {
    border-color: #000000;
    border-width: 2px 2px 0;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 3rem;
}

/*---------creadit area-------*/
.credit {
    height: 100px;
    text-align: center;
    padding: 10px;
}

.fa {
    position: relative;
    font-size: 25px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 2px 1px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: #3B5998;
}

.fa-whatsapp {
    color: #11c029;
}

.fa-phone {
    color: #000000;
}

.fa-youtube {
    color: #bb0000;
}

.fa-file {
    font-size: 18px;
}

@media only screen and (max-width:600px) {

    .rightcolumn,
    .leftcolumn {
        width: 100%;
        margin-bottom: 3rem;
        float: none;
    }

    .titles {
        font-size: 2rem;
    }

    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    svg {
        width: 80%;
    }

    .logo {
        font-size: 1vw;
        margin-bottom: 0rem;
        background: var(--bg-primary);
    }

    .logo svg {
        transform: none;
        transition: none;
    }

    .navbar:hover .logo svg {
        transform: none;
    }

    #currentPage {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
        width: 20%
    }


    .nav-link {
        justify-content: center;
        min-width: 1.5rem;
        margin: 0 1.5rem;
    }

    main {
        margin-bottom: 3rem;
        margin-right: 0;
    }

    .collection {
        align-items: center;
        align-content: center;
        align-self: center;
        vertical-align: middle;
        margin-bottom: 3rem;

    }

    img {
        width: 45vw;
        height: 45vw;
    }


    .message {
        box-shadow: 0 2px 10px rgba(0, 84, 186, 0.5);
        text-align: center;
        align-items: center;
        align-content: center;
        align-self: center;
        vertical-align: middle;
        padding: 1rem;
        margin-bottom: 5rem;
        color: var(--text-color);

    }
}

@media only screen and (min-width:600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    svg {
        width: 2vw;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }

    .nav-link {
        justify-content: right;
    }

    article {
        width: 250px;
    }

    .card-list {
        padding: 0;
    }

}